<%= link_to 'Back to Restaurants', restaurants_path, :class => 'btn btn-primary' %>

</br>
Reviews for <%= @dish.restaurant.name %>'s <%= @dish.dish_name %>
</br>

<% @dish.dish_reviews.each do |review| %>
	<div>
		<span>
			<%= review.rating %>
		</span>
		<span>
			<%= review.review %>
		</span>
	</div>
<% end %>

<%= link_to 'Write Review', new_dish_review_path(@dish), :class => 'btn btn-primary' %>