<div class="px-3">
	<h1 class="text-center text-xl font-bold py-5">
		<%= @dish.restaurant.name %>
	</h1>

	<%= render "shared/dish_card", dish: @dish %>

	<%= render 'shared/review_form', action_path: dish_reviews_path(@dish) %>

	<ul class="list-none space-y-6 container mx-auto px-3 py-6">
		<% @dish.dish_reviews.each do |review| %>
			<li class="list-none">
				<span>
					<%= review.rating %>
				</span>
				<span>
					<%= review.review %>
				</span>
			</li>
		<% end %>
	</ul>
</div>