<div id="banner">
	<span id="back-arrow"><%= link_to '<', restaurant_reviews_path(@dish.restaurant), :class => 'btn btn-secondary' %></span>
	<span id="title">Numenu</span>
	<span id="user-icon">
		<img id="user-icon-img" src="/images/Sample_User_Icon.png">
	</span>
</div>

<h2>Write Review For <%= @dish.restaurant.name %>'s <%= @dish.dish_name %></h2>

<%= form_tag dish_reviews_path(@dish), :class => 'form' do %>
  <%= label :dish_review, :review, 'Review', :class => 'col-form-label' %>
  <%= text_field :dish_review, :review, :class => 'form-control'  %>
  <%= label :dish_review, :rating, 'Rating', :class => 'col-form-label' %>
  <%= select :dish_review, :rating, [1,2,3,4,5], {}, {:class => 'form-control col-1'} %>
  <br/>
  <%= submit_tag 'Save', :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', dish_reviews_path(@dish), :class => 'btn btn-secondary' %>
<% end %>