<%= render "shared/header" %>
<%= link_to 'Back to Restaurants', restaurants_path, :class => 'btn btn-primary' %>

</br>
Menu items for <%= @restaurant.name %>
</br>

<% @dishes.each do |r| %>
	<div>
		<span>
			<%= r.dish_name %>
		</span>
		<span>
			<%= r.description %>
		</span>
		<span><%= link_to 'See reviews', dish_reviews_path({:dish => r, :restaurant => @restaurant.restaurant_id}), :class => 'btn btn-primary' %></span>
	</div>
<% end %>