<div id="banner">
	<span id="back-arrow"><%= link_to '<', root_path, :class => 'btn btn-primary' %></span>
	<span id="title">Numenu</span>
	<span id="user-icon">
		<%= image_tag "Sample_User_Icon.png", style: 'height:100%;width:auto;' %>
	</span>
</div>

<div id="search-area">
</div>
<% @restaurants.each do |restaurant| %>
	<div id="restaurant">
		<div id="restaurant-img">
			<%= image_tag "food_filler.jpeg", style: 'height:100%;width:auto;' %>
		</div>
		<div id="restaurant-info">
			<span id="description" class="text">
				<%= link_to restaurant.name, restaurant_path(restaurant), :class => 'btn btn-primary' %>
			</span>
			<span id="reviews" class="text">
				<%= link_to "View reviews for " + restaurant.name, restaurant_reviews_path(restaurant), :class => 'btn btn-primary' %>
			</span>
			<span id="star">
				⭐️
			</span>
			<span id="score" class="text">Meal Score: 3.8</span>
		</div>
	</div>
<% end %>
