<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="./resources/whitney-font/style.css"/>
    <link rel="stylesheet" href="./home.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet">
</head>

<body>
	<div id="banner">
		<span id="back-arrow"><</span>
		<span id="title">Numenu</span>
		<span id="user-icon">
			<img id="user-icon-img" src="../../images/Sample_User_Icon.png">
		</span>
	</div>

	<div id="search-area">
		<!-- <%= form_tag movies_path, :class => 'form' do %>
		  <%= label :movie, :title, 'Title', :class => 'col-form-label' %>
		  <%= text_field :movie, :title, :class => 'form-control' %>
		  <%= label :movie, :rating, 'Rating', :class => 'col-form-label'  %>
		  <%= select :movie, :rating, ['G','PG','PG-13','R','NC-17'], {}, {:class => 'form-control col-1'} %>
		  <%= label :movie, :director, 'Director', :class => 'col-form-label' %>
		  <%= text_field :movie, :director, :class => 'form-control' %>
		  <%= label :movie, :release_date, 'Released On', :class => 'col-form-label'  %>
		  <%= date_select :movie, :release_date, {}, :class => 'form-control col-2 d-inline' %>
		  <br/>
		  <%= submit_tag 'Save Changes', :class => 'btn btn-primary' %>
		  <%= link_to 'Cancel', movies_path, :class => 'btn btn-secondary' %>
		<% end %> -->
	</div>
	<div id="restaurant">
		<div id="restaurant-img">
			<img src="food_filler.jpeg">
		</div>
		<div id="restaurant-info">
			<span id="description">
				<div id="name" class="text">Example Name</div>
				<div id="type">Seafood</div>
			</span>
			<span id="star">
				<img id="star" src="../../images/star_icon.png">
			</span>
			<span id="score" class="text">Meal Score: 3.8</span>
		</div>
	</div>

</body>