<%= link_to 'Back to Restaurants', restaurants_path, :class => 'btn btn-primary' %>

</br>
Menu items for <%= @restaurant.name %>
</br>

<% @restaurant.dishes.each do |dish| %>
	<div>
		<span>
			<%= dish.dish_name %>
		</span>
		<span>
			<%= dish.description %>
		</span>
		<span><%= link_to 'See reviews', dish_reviews_path(dish), :class => 'btn btn-primary' %></span>
	</div>
<% end %>