<%= link_to 'Back to Restaurants', restaurants_path, :class => 'btn btn-primary' %>

<%= @restaurant.qrcode(request.base_url).html_safe %>

</br>
Menu items for <%= @restaurant.name %>
<br>
Write a review for <%= link_to @restaurant.name, restaurant_reviews_path(@restaurant.id), :class => 'btn btn-primary' %>
</br>

<% @restaurant.dishes.each do |dish| %>
	<br>
	<div>
		<span>
			<%= dish.dish_name %>
		</span>
		<br>
		<span>
			<%= dish.description %>
		</span>
		<br>
		<span>
			<%= dish.price %>
		</span>
		<br>
		<span>
			Average Rating: <%= DishReview.average_rating(dish.id) %>
		</span>
		<br>
		<span><%= link_to 'See reviews', dish_reviews_path(dish), :class => 'btn btn-primary' %></span>
	</div>
<% end %>