<div id="banner">
	<span id="back-arrow"><%= link_to '<', restaurants_path, :class => 'btn btn-primary' %></span>
	<span id="title">Numenu</span>
	<span id="user-icon">
		<img id="user-icon-img" src="/images/Sample_User_Icon.png">
	</span>
</div>

<%= link_to 'Back to Restaurants', restaurants_path, :class => 'btn btn-primary' %>

</br>
Reviews for <%= @restaurant.name %>
</br>

<% @reviews.each do |r| %>
	<div>
		<span>
			<%= r.rating %>
		</span>
		<span>
			<%= r.review %>
		</span>
	</div>
<% end %>

<%= link_to 'Write Review', new_restaurant_reviews_path(@restaurant.restaurant_id), :class => 'btn btn-primary' %>
